html {
  text-rendering: optimizeLegibility;
  --fun-color: #A1DBB2;
  --text-color: #333;
  --light-color: grey;
  --font-logo: 'Raleway', sans-serif;
  --font-special: 'Caveat', sans-serif;
  --font-text: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-color);
  margin: 1em 0;
  padding: 0;
  font-family: var(--font-logo);
  letter-spacing: .03em;
}

p {
  font-family: var(--font-text);
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  text-decoration: none;
  color: var(--fun-color);
}

p a {
  border-bottom: 1px solid var(--text-color);
}

p a:hover {
  color: var(--fun-color);
  border-bottom: 1px solid var(--fun-color);
  background-color: var(--text-color)
}


ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-content {
  min-height: 100vh;
}

img {
  width: 100%;
}


/*header*/

header {
  border-bottom: 1px solid black;
}

.header-all {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 2em;
}

.header-all img {
  width: 20em;
}


.header-menu nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  font-weight: 600;
  font-family: var(--font-text);
}

.header-menu nav div {
  padding-left: 2em;
}

.header-menu a {
  
}

@media only screen and (max-width: 48em) {
  .header-all {
   flex-direction: column;

    }
  .header-menu nav {
    flex-direction: column;
    }
  .header-menu nav div {
    padding-left: 0;
    padding-top: 1em;
  }

}


/*overview post sites neuste*/

.overview-posts-title-neuste {
  text-align: left;
  padding: 0.1em 0;
  font-weight: 600;
  font-size: 1.2em;
}

.overview-posts-neuste{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  margin-bottom: 2em;
  text-align: center;
}

.overview-single-posts-neuste {
  display: flex;
  flex-direction: column;
  width: 24%;
  height: 24em;
}

.overview-image-main-neuste {
  width: 100%;
  height: 15em;
  object-fit: cover;
}

.overview-image-main-neuste img {

}

.overview-posts-text-all-neuste {
  padding: 0.5em;

}

.overview-posts-text-all-neuste p {
  padding: 0;
  margin: 0;
  font-size: 0.8em;
}

.overview-posts-text-all-neuste h3 {
  padding: 0 0 0.5em 0;
  margin: 0;
  font-size: 1em;
  line-height: 1.5em;
}

/*@media only screen and (max-width: 48em) {
.overview-posts{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

}*/



/*overview post sites top*/

.overview-posts-title-top {
  text-align: left;
  padding: 0.1em 0;
  font-weight: 600;
  font-size: 1.2em;
}

.overview-posts-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  margin-bottom: 2em;
  text-align: center;
  width: 75%;
}

.overview-single-posts-top {
  display: flex;
  flex-direction: column;
  width: 32%;
  height: 24em;
}

.overview-image-main-top {
  width: 100%;
  height: 15em;
  object-fit: cover;
}

.overview-image-main-top img {
  
}

.overview-posts-text-all-top {
  padding: 0.5em;

}

.overview-posts-text-all-top p {
  padding: 0;
  margin: 0;
  font-size: 0.8em;
}

.overview-posts-text-all-top h3 {
  padding: 0 0 0.5em 0;
  margin: 0;
  font-size: 1em;
  line-height: 1.5em;
}



/*overview post sites more*/

.overview-posts-title-more {
  text-align: left;
  padding: 0.1em 0;
  font-weight: 600;
  font-size: 1.2em;
}

.overview-posts-more{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  margin-bottom: 2em;
  text-align: center;
  width: 75%;
}

.overview-single-posts-more {
  display: flex;
  flex-direction: column;
  width: 32%;
  height: 24em;
}

.overview-image-main-more {
  width: 100%;
  height: 15em;
  object-fit: cover;
}

.overview-image-main-more img {
  
}

.overview-posts-text-all-more {
  padding: 0.5em;

}

.overview-posts-text-all-more p {
  padding: 0;
  margin: 0;
  font-size: 0.8em;
}

.overview-posts-text-all-more h3 {
  padding: 0 0 0.5em 0;
  margin: 0;
  font-size: 1em;
  line-height: 1.5em;
}

/*@media only screen and (max-width: 48em) {
.overview-posts{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

}*/



/*articles*/
.content-article-all {
  width: 75%;
  margin: 0 auto;
}

.content-article-all h1 {
  margin: 1em auto 0.5em auto;
}

.article-top p {
  margin: 0.5em 0;
  padding: 0;
}

.article-top {
  margin-bottom: 2em;
}

.content-article-all p img {
  width: 100%;
  max-width: 800px;
  padding: 2em 0;
  display: block;
  margin: auto;
}



/*sidebar*/

.sidebar-all {
  position:absolute;
  right: 0;
  width: 10em;
  padding: 4em;
}

.sidebar-all div {
  padding: 2em 0;
  border-bottom: 1px solid var(--light-color);
}

.sidebar-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.sidebar-social a {
  width: 28%;
  height: 28%;
}


.sidebar-all li {
  padding: 1em 0; 
}

.sidebar-image {
  width: 100%;
  height: 8em;
  object-fit: cover;
}

.sidebar-posts-text-all {

}

.sidebar-posts-text-all h3 {
  padding: 0;
  margin: 0;
  font-size: 1em;
  line-height: 1.5em;
}

.sidebar-posts-text-all p {
  padding: 0;
  margin: 0;
  font-size: 0.8em;
}


/*footer*/
footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 1em;
  border-top: 1px solid var(--text-color)
}

.footer-row {
  display: flex;
  flex-direction: row;
}

.footer-row p {
  padding: 1em;
}