html {
  text-rendering: optimizeLegibility;
  --fun-color: #A1DBB2;
  --text-color: #131313;
  --white-text: #E8E8E8;
  --dark-color: #415060;
  --light-color: grey;
  --font-logo: 'Raleway', sans-serif;
  --font-special: 'Caveat', sans-serif;
  --font-text: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-color);
  margin: 1em 0;
  padding: 0;
  font-family: var(--font-logo);
  letter-spacing: .03em;
}

body {
  margin: 0;
}

p {
  font-family: var(--font-text);
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

a:hover {
  text-decoration: none;
  color: var(--fun-color);
}

p a {
  border-bottom: 1px solid var(--text-color);
}

p a:hover {
  color: var(--fun-color);
  border-bottom: 1px solid var(--fun-color);
}


ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-content {
  min-height: 100vh;
}

img {
  width: 100%;
}


/*header*/

header {
/*  border-bottom: 1px solid black;*/
  background-color: var(--dark-color);
}

.header-all {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

.header-all img {
  width: 20em;
}


.header-menu nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1em;
  font-family: var(--font-text);
  letter-spacing: 0.1em;
}

.header-menu nav div {
  padding-left: 2em;
}

.header-menu a {
    color: var(--white-text);
}

.header-menu a:hover {
    color: var(--fun-color);
}


@media only screen and (max-width: 48em) {
  .header-all {
   flex-direction: row;
    }
  .header-all img {
      width: 15em;
    }
  .header-menu nav {
    flex-direction: column;
    }
  .header-menu nav div {
    padding-left: 0;
    padding-top: 1em;
  }

}

/* Slidshow */

.index-slide-content{margin:auto;object-fit: cover; width: 100%;}
.index-slide-tooltip,.index-slide-display-container{position:relative}.index-slide-tooltip .index-slide-text{display:none}.index-slide-tooltip:hover .index-slide-text{display:inline-block}
.index-slide-display-container:hover .index-slide-display-hover{display:block}.index-slide-display-container:hover span.index-slide-display-hover{display:inline-block}.index-slide-display-hover{display:none}

.index-slide-button{border:none;display:inline-block;outline:0;padding:2em 2em;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.index-slide-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.index-slide-disabled,.index-slide-button:disabled{cursor:not-allowed;opacity:0.3}.index-slide-disabled *,:disabled *{pointer-events:none}
.index-slide-dropdown-hover:hover > .index-slide-button:first-child,.index-slide-dropdown-click:hover > .index-slide-button:first-child{background-color:#ccc;color:#000}
.index-slide-bar-block .index-slide-dropdown-hover .index-slide-button,.index-slide-bar-block .index-slide-dropdown-click .index-slide-button{width:100%;text-align:left;padding:2em 2em}
.index-slide-bar .index-slide-button{white-space:normal}
.index-slide-dropdown-hover.index-slide-mobile,.index-slide-dropdown-hover.index-slide-mobile .index-slide-btn,.index-slide-dropdown-hover.index-slide-mobile .index-slide-button,.index-slide-dropdown-click.index-slide-mobile,.index-slide-dropdown-click.index-slide-mobile .index-slide-btn,.index-slide-dropdown-click.index-slide-mobile .index-slide-button{width:100%}}
.index-slide-button:hover{color:#000!important;background-color:#ccc!important;}

.index-slide-black,.index-slide-hover-black:hover{color:#fff!important;background-color:#000!important;}
.index-slide-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.index-slide-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}

.mySlides{width:100%;height:30em;object-fit: cover;}



/* Overview All */

.hero-overview {
  width: 100%;
  height: 20em;
  object-fit: cover;
}

.hero-title {
  margin: 3em auto 0.8em auto;
  text-align: center;
}

.hero-sub-title {
  width: 50%;
  text-align: center;
  margin: auto auto 3em auto;
}

.overview-more-title {
  margin: 3em auto 0.8em auto;
  text-align: left;
  width: 80%;
}

@media only screen and (max-width: 68em) {
   .hero-sub-title {
    width: 70%;
  }
}


/* sections vorgestellt */
.sections-vorgestellt {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 8em auto;
  width: 80%;
  max-width: 50em;
}

.sections-vorgestellt-einzeln {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.sections-vorgestellt-einzeln img {
  width: 50%;
/*  background-color: var(--dark-color);
*/}

.sections-vorgestellt-einzeln img:hover {
  width: 50%;
  background-color: var(--fun-color);
}



/*overview post sites neuste*/

.overview-posts-neuste{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  margin: auto;
  text-align: center;
  width: 90%;
}

.overview-single-posts-neuste {
  display: flex;
  flex-direction: column;
  width: 22%;
  height: 30em;
  margin: 1em auto;
}

.overview-image-main-neuste {
  width: 100%;
  height: 20em;
  object-fit: cover;
}

.overview-image-main-neuste img {

}

.overview-posts-text-all-neuste {
  padding: 0.5em;

}

.overview-posts-text-all-neuste p {
  padding: 0;
  margin: 0;
  font-size: 0.8em;
}

.overview-posts-text-all-neuste h3 {
  padding: 0 0 0.5em 0;
  margin: 0;
  font-size: 1em;
  line-height: 1.5em;
}

@media only screen and (max-width: 68em) {
  .overview-single-posts-neuste {
    width: 44%;
  }
}

@media only screen and (max-width: 38em) {
  .overview-single-posts-neuste {
    width: 100%;
    margin: 0.5em auto;
    height: 28em;
  }
}


/*articles*/
.content-article-all {
  width: 75%;
  margin: 0 auto;
}

.article-top-img {
  width: 100%;
  height: 30em;
  object-fit: cover;
  margin: auto;
}

.content-article-all h1 {
  margin: 1em auto 0.5em auto;
}

.article-top p {
  margin: 0.5em 0;
  padding: 0;
}

.article-top {
  margin-bottom: 2em;
}

.content-article-all p img {
  width: 100%;
  max-width: 800px;
  padding: 2em 0;
  display: block;
  margin: auto;
}




/*footer*/
footer {
  background-color: var(--dark-color);
  color: var(--white-text);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}

footer a{
  color: var(--white-text);
  border-bottom: 1px solid var(--white-text);
}


.footer-row {
  display: flex;
  flex-direction: row;
}

.footer-row p {
  padding: 0.5em;
}