<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}de-DE{{ end }}">
<head>
  <title>{{ .Title }} | {{ .Site.Title }}</title>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html"  . }} 

	<main class="site-content content-article-all">

		<h1>
			{{ .Title }}
		</h1>
	<div class="article-top">
		<p style="font-weight: 600">
		von {{ .Params.Author }} am {{ .Date.Format "02. 01. 2006" }}

		</p>

		<p>
		<p>
			Lesezeit ca. {{ .ReadingTime }} Minuten
		</p>
	</div>

		<img src="{{ .Site.BaseURL}}{{ .Params.image }}" alt="">

		
		{{ .Content }}



		
	</main>


	{{ partial "footer.html"  . }}

	<script src="{{ .Site.BaseURL }}js/functions.js"></script>
</body>
</html>
