<footer>

	<div class="footer-row">
		<p><a href="https://www.instagram.com/teilzeit_hippies/">Instagram</a></p>
		<p><a href="https://twitter.com/Teilzeithippies">Twitter</a></p>
		<p><a href="https://www.facebook.com/teilzeithippies/">Facebook</a></p>
	</div>
	<div class="footer-row">
		<p>Newsletter abonnieren</p>
	</div>
	<div class="footer-row">
		<p><a href="">Impressum</a></p>
		<p><a href="">Kontakt</a></p>
	</div>
	<div>
	<p>hallo@teilzeithippies.de <br> © TeilzeitHippies 2017</p>
	</div>
</footer>
