<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
		{{ partial "head.html" . }}
</head>

<body>

	{{ partial "header.html"  . }} 

<main class="site-content">


<div>

<div class="index-slide-content index-slide-display-container">

<img class="mySlides" src="/img/Test-1.jpg" style="width:100%;height:30em;object-fit: cover;">
<img class="mySlides" src="/img/Test-2.jpg" style="width:100%;height:30em;object-fit: cover;">
<img class="mySlides" src="/img/Test-3.jpg" style="width:100%;height:30em;object-fit: cover;">
<img class="mySlides" src="/img/Test-4.jpg" style="width:100%;height:30em;object-fit: cover;">

  <button class="index-slide-button index-slide-black index-slide-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="index-slide-button index-slide-black index-slide-display-right" onclick="plusDivs(1)">&#10095;</button>

</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
</script>



<!-- 
<ul class="overview-posts-neuste">			
			{{ range first 4 .Data.Pages  }}
	<li class="overview-single-posts-neuste">
<div>
	<div>
		<a href="{{ .Permalink }}">
			<img class="overview-image-main-neuste" src="{{ .Site.BaseURL}}{{ .Params.image }}" alt="">
		</a>
	</div>
</div>

<div class="overview-posts-text-all-neuste">
	<h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>

	<p>von {{ .Params.Author }}</p>

	<p>in {{ .Params.category }}</p>

	<p> {{ .Date.Format "02. 01. 2006" }}</p>

</div>

	</li>
	{{ end }}
</ul> -->






<div>
<p class="overview-posts-title-top"> Neu in <a href="">Vorgestellt</a> </p>

<ul class="overview-posts-top">		
	{{ range first 4 (where .Data.Pages "Section" "vorgestellt") }}	
	<li class="overview-single-posts-top">
<div>
	<div>
		<a href="{{ .Permalink }}">
				<img class="overview-image-main-top" src="{{ .Site.BaseURL}}{{ .Params.image }}" alt="">
		</a>
	</div>
</div>

<div class="overview-posts-text-all-top">
	<h3>
		<a href="{{ .Permalink }}">{{ .Title }}</a>
	</h3>

	<p>
		von {{ .Params.Author }}
	</p>


	<p>
		{{ .Date.Format "02. 01. 2006" }}
	</p>
				
</div>

	</li>
	{{ end }}
</ul>


</div>

<div>
<p class="overview-posts-title-top"> Neu in <a href="">Themen</a> </p>

<ul class="overview-posts-top">			
	{{ range first 3 (where .Data.Pages "Section" "themen") }}	
	<li class="overview-single-posts-top">
<div>
	<div>
		<a href="{{ .Permalink }}">
				<img class="overview-image-main-top" src="{{ .Site.BaseURL}}{{ .Params.image }}" alt="">
		</a>
	</div>
</div>

<div class="overview-posts-text-all-top">
	<h3>
		<a href="{{ .Permalink }}">{{ .Title }}</a>
	</h3>

	<p>
		von {{ .Params.Author }}
	</p>


	<p>
		{{ .Date.Format "02. 01. 2006" }}
	</p>
				
</div>

	</li>
	{{ end }}
</ul>


</div>

<div>
<p class="overview-posts-title-top"> Neu in <a href="">Meinung</a> </p>

<ul class="overview-posts-top">			
	{{ range first 3 (where .Data.Pages "Section" "meinung") }}	
	<li class="overview-single-posts-top">
<div>
	<div>
		<a href="{{ .Permalink }}">
				<img class="overview-image-main-top" src="{{ .Site.BaseURL}}{{ .Params.image }}" alt="">
		</a>
	</div>
</div>

<div class="overview-posts-text-all-top">
	<h3>
		<a href="{{ .Permalink }}">{{ .Title }}</a>
	</h3>

	<p>
		von {{ .Params.Author }}
	</p>


	<p>
		{{ .Date.Format "02. 01. 2006" }}
	</p>
				
</div>

	</li>
	{{ end }}
</ul>
</div>


<div>
	<p class="overview-posts-title-more"> Das könnte dich auch interessieren </p>
<ul class="overview-posts-more">			
			{{ range first 3 .Data.Pages }}
	<li class="overview-single-posts-more">
<div>
	<div>
		<a href="{{ .Permalink }}">
				<img class="overview-image-main-more" src="{{ .Site.BaseURL}}{{ .Params.image }}" alt="">
		</a>
	</div>
</div>

<div class="overview-posts-text-all-more">
	<h3>
		<a href="{{ .Permalink }}">{{ .Title }}</a>
	</h3>

	<p>
		von {{ .Params.Author }}
	</p>


	<p>
		{{ .Date.Format "02. 01. 2006" }}
	</p>

</div>

	</li>
	{{ end }}

</ul>	

</div>


</main>
{{ partial "footer.html" . }} 


	</body>
</html>

