<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
		{{ partial "head.html" . }}
</head>

<body>

	{{ partial "header.html"  . }} 

<main class="site-content">


<div class="index-slide-content index-slide-display-container">

	<ul>
	{{ range first 4 .Data.Pages }}
		<li>
			<a href="{{ .Permalink }}">
				<img class="mySlides" src="{{ .Site.BaseURL}}{{ .Params.image }}" alt="">
			</a>
		</li>
	{{ end }}
	</ul>

  <button class="index-slide-button index-slide-black index-slide-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="index-slide-button index-slide-black index-slide-display-right" onclick="plusDivs(1)">&#10095;</button>

</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
</script>


<div class="teaser-text-index">
	<h2>Auf der Suche nach mehr?</h2>
	<p>Da können wir helfen.</p>
</div>


<div class="sections-vorgestellt">
	<a href="/vorgestellt"><div class="sections-vorgestellt-einzeln"><img src="/img/vorgestellt.png" alt=""><p>Vorgestellt</p></div></a>
	<a href="/themen"><div class="sections-vorgestellt-einzeln"><img src="/img/themen.png" alt=""><p>Themen</p></div></a>
	<a href="/meinung"><div class="sections-vorgestellt-einzeln"><img src="/img/meinung.png" alt=""><p>Meinung</p></div></a>
</div>



<div class="teaser-text-index">
	<h2>Die neusten Artikel</h2>
</div>

<div>

<ul class="overview-posts-neuste">			
			{{ range first 16 .Data.Pages }}
	<li class="overview-single-posts-neuste">
<div>
	<div>
		<a href="{{ .Permalink }}">
				<img class="overview-image-main-neuste" src="{{ .Site.BaseURL}}{{ .Params.image }}" alt="">
		</a>
	</div>
</div>
<div class="overview-posts-text-all-neuste">
	<h3>
		<a href="{{ .Permalink }}">{{ .Title }}</a>
	</h3>

	<p>
		von {{ .Params.Author }}
	</p>

<a href="">
	<p>
		in {{ .Params.Category }}
	</p>
</a>

	<p>
		{{ .Date.Format "02. 01. 2006" }}
	</p>

</div>

	</li>
	{{ end }}

</ul>
</div>	



</main>
{{ partial "footer.html" . }} 


	</body>
</html>

