<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}de-DE{{ end }}">

<head>
	{{ partial "head.html" . }}
  <title>{{ .Page.Title }} | {{ .Site.Title }}</title>
</head>
<body>

	{{ partial "header.html"  . }} 


<main class="site-content">

<div>
<p class="overview-posts-title-neuste"> Neuste {{ .Page.Title }} </p>

<ul class="overview-posts-neuste">			
			{{ range first 4 .Data.Pages }}
	<li class="overview-single-posts-neuste">
<div>
	<div>
		<a href="{{ .Permalink }}">
				<img class="overview-image-main-neuste" src="{{ .Site.BaseURL}}{{ .Params.image }}" alt="">
		</a>
	</div>
</div>
<div class="overview-posts-text-all-neuste">
	<h3>
		<a href="{{ .Permalink }}">{{ .Title }}</a>
	</h3>

	<p>
		von {{ .Params.Author }}
	</p>


	<p>
		{{ .Date.Format "02. 01. 2006" }}
	</p>

</div>

	</li>
	{{ end }}

</ul>
</div>	

<div>
	<p class="overview-posts-title-top"> Top Auswahl aus {{ .Page.Title }} </p>
<ul class="overview-posts-top">			
			{{ range first 6 .Data.Pages }}
	<li class="overview-single-posts-top">
<div>
	<div>
		<a href="{{ .Permalink }}">
				<img class="overview-image-main-top" src="{{ .Site.BaseURL}}{{ .Params.image }}" alt="">
		</a>
	</div>
</div>

<div class="overview-posts-text-all-top">
	<h3>
		<a href="{{ .Permalink }}">{{ .Title }}</a>
	</h3>

	<p>
		von {{ .Params.Author }}
	</p>


	<p>
		{{ .Date.Format "02. 01. 2006" }}
	</p>

</div>

	</li>
	{{ end }}

</ul>	

</div>

<div>
	<p class="overview-posts-title-more"> Das könnte dich auch interessieren </p>
<ul class="overview-posts-more">			
			{{ range first 6 .Data.Pages }}
	<li class="overview-single-posts-more">
<div>
	<div>
		<a href="{{ .Permalink }}">
				<img class="overview-image-main-more" src="{{ .Site.BaseURL}}{{ .Params.image }}" alt="">
		</a>
	</div>
</div>

<div class="overview-posts-text-all-more">
	<h3>
		<a href="{{ .Permalink }}">{{ .Title }}</a>
	</h3>

	<p>
		von {{ .Params.Author }}
	</p>


	<p>
		{{ .Date.Format "02. 01. 2006" }}
	</p>

</div>

	</li>
	{{ end }}

</ul>	

</div>

	</main>


	{{ partial "footer.html" . }}

	<script src="{{ .Site.BaseURL }}js/functions.js"></script>

</body>
</html>
