<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}de-DE{{ end }}">
	<head>
		{{ partial "head.html" . }}
		<title>{{ .Page.Title }} | {{ .Site.Title }}</title>
	</head>
	<body>
		{{ partial "header.html"  . }}
		<main class="site-content">
			<h1 class="hero-title">Bewegung</h1>
			<p class="hero-sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi recusandae ut, ab eveniet a unde debitis et neque consequuntur ratione, ullam voluptas aspernatur, magni ipsum tempore odio repellat officia odit.</p>
			<div>
				<ul>
					{{ range .Data.Pages }}
					<li>
						<div>
							<div>
								<a href="{{ .Permalink }}">
									<img src="{{ .Site.BaseURL}}{{ .Params.image }}" alt="">
								</a>
							</div>
						</div>
						<div>
							<h3>
							<a href="{{ .Permalink }}">{{ .Title }}</a>
							</h3>
							<p>
								von {{ .Params.Author }}
							</p>
							<a href="">
								<p>
									in {{ .Params.Category }}
								</p>
							</a>
							<p>
								{{ .Date.Format "02. 01. 2006" }}
							</p>
						</div>
					</li>
					{{ end }}
				</ul>
			</div>
		</main>
		{{ partial "footer.html" . }}
		<script src="{{ .Site.BaseURL }}js/functions.js"></script>
	</body>
</html>