<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}de-DE{{ end }}">

<head>
	{{ partial "head.html" . }}
  <title>{{ .Page.Title }} | {{ .Site.Title }}</title>
</head>
<body>

	{{ partial "header.html"  . }} 


<main class="site-content">


<img class="hero-overview" src="/img/test-landschaft.jpg" alt="">

<h1 class="hero-title"> Vorgestellt </h1>
<p class="hero-sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi recusandae ut, ab eveniet a unde debitis et neque consequuntur ratione, ullam voluptas aspernatur, magni ipsum tempore odio repellat officia odit.</p>


<!-- <div class="sections-vorgestellt">
	<a href=""><div class="sections-vorgestellt-einzeln"><img src="/img/vorgestellt-mensch.png" alt=""><p>Menschen</p></div></a>
	<a href=""><div class="sections-vorgestellt-einzeln"><img src="/img/vorgestellt-buecher.png" alt=""><p>Bücher</p></div></a>
	<a href=""><div class="sections-vorgestellt-einzeln"><img src="/img/vorgestellt-mensch.png" alt=""><p>Ideen</p></div></a>
</div>
 -->


<div>

<ul class="overview-posts-neuste">			
			{{ range .Data.Pages }}
	<li class="overview-single-posts-neuste">
<div>
	<div>
		<a href="{{ .Permalink }}">
				<img class="overview-image-main-neuste" src="{{ .Site.BaseURL}}{{ .Params.image }}" alt="">
		</a>
	</div>
</div>
<div class="overview-posts-text-all-neuste">
	<h3>
		<a href="{{ .Permalink }}">{{ .Title }}</a>
	</h3>

	<p>
		von {{ .Params.Author }}
	</p>

<a href="">
	<p>
		in {{ .Params.Category }}
	</p>
</a>

	<p>
		{{ .Date.Format "02. 01. 2006" }}
	</p>

</div>

	</li>
	{{ end }}

</ul>
</div>	

	</main>


	{{ partial "footer.html" . }}

	<script src="{{ .Site.BaseURL }}js/functions.js"></script>

</body>
</html>
