<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}de-DE{{ end }}">

<head>
	{{ partial "head.html" . }}
  <title>{{ .Page.Title }} | {{ .Site.Title }}</title>
</head>
<body>

	{{ partial "header.html"  . }} 


<main class="site-content">

	
<p class="overview-posts-title"> Neuste {{ .Page.Title }} </p>


<ul class="overview-posts">			
			{{ range first 6 .Data.Pages }}
	<li class="overview-single-posts">
<div>
	<div>
		<a href="{{ .Permalink }}">
				<img class="overview-image-main" src="{{ .Site.BaseURL}}{{ .Params.image }}" alt="">
		</a>
	</div>
</div>

<div class="overview-posts-text-all">
	<h2>
		<a href="{{ .Permalink }}">{{ .Title }}</a>
	</h2>

	<p>
		von {{ .Params.Author }}
	</p>


	<p>
		{{ .Date.Format "02. 01. 2006" }}
	</p>

</div>

	</li>
	{{ end }}
</ul>


	</main>


	{{ partial "footer.html" . }}

	<script src="{{ .Site.BaseURL }}js/functions.js"></script>

</body>
</html>
